* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.wrapper {
  border: 0.1px rgb(198, 198, 198);
  border-radius: 10px;
}

.pokemon-card {
  margin: auto;
  width: fit-content;
  background-color: rgb(170, 174, 255);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemon-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.pokemon-weight {
  font-size: 18px;
}

.pokemon-image {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.pokemon-abilities {
  margin-top: 10px;
}

.ability {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  display: inline-block;
}

.select {
  width: 500px;
  margin: auto;
}